---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mylodev">
  <main class="flex-row justify-center items-center margin p-12">
    <!-- intro section -->
    <div class="text-4xl">
      <h1 class="mt-12 text-8xl relative right-12 bold">*Hello</h1>
      <h2 class="mt-8 text-4xl">I'm Mylo</h2>
      <p class="mt-8">a 20-year-old web developer</p>
      <p>from Bali, Indonesia.</p>
      <p>Currently in University studying Computer Science.</p>
    </div>
    <!-- showcase section -->
    <div class="mt-16">
      <h2 class="text-4xl">Here's some of my work; </h2>
      <div class="mt-8"></div>
    </div>
  </main>
</Layout>
