---
import Layout from "../layouts/Layout.astro";
import { Card } from "../components/Card";
import { Modal } from "../components/Modal";
// import { Footer } from "../components/Footer";
---

<script>
  //this is to find the aspect ratio of the window and set the height of the "arrow" element to match
  const arrow = document.getElementById("arrow");
  const windowWidth = window.innerWidth;
  const windowHeight = window.innerHeight;
  const aspectRatio = windowWidth / windowHeight;
  if (arrow) {
    arrow.style.top = aspectRatio * -2 + "vh";
  }
</script>
<Layout title="mylodev">
  <main class="ml-4 mr-4 sm:ml-32 sm:mr-32 p-12 flex flex-col justify-center">
    <!-- intro section -->
    <div class="mt-60">
      <div class="relative lg:right-12 sm:right-2 md:right-10 animate-fadeUp">
        <span class="text-blue-600 text-8xl">*</span>
        <span class="mt-8 text-8xl">Hello</span>
      </div>
      <p class="mt-8 text-4xl animate-fadeUp">I'm Mylo</p>
      <p class="mt-8 lg:text-4xl text-2xl animate-fadeUp">
        a <span class="font-bold">web developer</span>
      </p>
      <p class="lg:text-4xl text-2xl animate-fadeUp">
        from <span class="font-bold">Bali, Indonesia.</span>
      </p>
      <p class="lg:text-4xl text-2xl animate-fadeUp">currently in university,</p>
      <p class="lg:text-4xl text-2xl animate-fadeUp">
        studying <span class="font-bold">Computer Science</span>.
      </p>
    </div>
    <!-- showcase section -->
    <div class="mt-16 animate-fadeUp">
      <h2 class="text-4xl">Here's some of my work;</h2>
      <!-- down arrow symbol thats always on the bottom of screen without position absolute-->
      <div class="flex flex-row justify-center items-center">
        <div class="mt-8">
          <svg
            id="arrow"
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 animate-bounce relative bottom-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="blue"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
          </svg>
        </div>
      </div>

      <div class="mt-8 lg:flex flex-row flex-wrap justify-center">
        <!--  -->
        <Modal
          image="./portfolio.png"
          modalID={1}
          title="mylo's portfolio"
          tech="Astrojs, ReactJS, Tailwindcss"
          description="a quick brief story about this site, i saw a Fireship video about Astro and it really piqued my interests, as a i didnt have anything else to do on a wednesday afternoon, I decided to just rebuild my portfolio website in Astro."
          description2="i like the simplicity of Astro and how it's just a simple static site generator, but has the benefit of being able to use React and other framework components, which is really nice."
          description3="i made this site pretty quickly in one of my favorite cafes, which greatly inspired how this website looks, might have copied the logo slightly. (i hope they don't mind)"
          link="https://github.com/Milopadma/whoami"
        >
          <Card
            image="/portfolio.png"
            title="mylo's portfolio"
            body="this website you're on right now!"
          />
        </Modal>
        <!--  -->
        <Modal
          image="./whatshouldieat.png"
          modalID={2}
          title="whatshouldieat"
          tech="React, NextJS, Tailwind, Prisma, PostgreSQL"
          description="as my maid keeps asking me every single day what I want to eat the next day, I decided to build this app to help myself think of food ideas."
          description2="learning these technologies first hand instead of relying on tutorials is what made it really enjoyable to build this app."
          description3="there's something about figuring things out on my own that sparks joy in me."
          link="https://github.com/Milopadma/whatshouldieat"
        >
          <Card
            image="/whatshouldieat.png"
            title="whatshouldieat"
            body="a simple web app to help you decide what to eat."
          />
        </Modal>
        <!--  -->
        <Modal
          image="./silentnightgame.png"
          modalID={3}
          title="silentnightgame"
          tech="Unity, C#"
          description="really proud about this one. before this, i hade zero experience on game development and i decided to take a summer course on game development from my campus."
          description2="the course told us to use unity, and i learned a lot about C# scripting, managing a team project and game development in general."
          description3="the game itself is about a character that has to get home and avoid the guards along the way, as the prompt of the course final project was to create a game that has a story about our own culture."
          link="https://github.com/Milopadma/silentnightgame"
        >
          <Card
            image="/silentnightgame.png"
            title="silentnightgame"
            body="a unity game i built to teach people about a part of my culture."
          />
        </Modal>
      </div>
      <div class="flex flex-row justify-center mt-16 italic">More to come!</div>
    </div>
    <!-- courses i've taken section -->
    <div class="mt-16">
      <h2 class="text-4xl">Courses I've taken;</h2>
      <div class="italic text-xl text-gray-500">
        sometimes, it's worth going the extra mile.
      </div>
      <div class="mt-8 lg:flex flex-row flex-wrap justify-center">
        <!--  -->
        <Modal
          image="https://img-c.udemycdn.com/course/480x270/705264_caa9_13.jpg"
          modalID={11}
          title="Modern React with Redux"
          tech="React, Redux"
          description="a course by Stephen Grider, teaches how to build apps using the class components of React first, then gets into hooks and Redux later on."
          description2="a great course to get started with React, even the projects, such as a twitch clone, made with the course are very resourceful."
          description3="completed this course in September 2022."
          link="https://www.github.com/milopadma/reactcourse"
        >
          <Card
            image="https://img-c.udemycdn.com/course/480x270/705264_caa9_13.jpg"
            title="Modern React with Redux"
            body="a udemy course that teaches the fundamentals and delves into the deep end of the ReactJS library."
          />
        </Modal>
        <!--  -->
        <Modal
          image="https://img-c.udemycdn.com/course/480x270/19332_6b49_15.jpg"
          modalID={12}
          title="The Complete 2020 Fullstack Web Developer Course"
          tech="HTML, CSS, JS"
          description="a course by one Kalob Taulien, fantastic teacher that is able to convey his knowledge in a way that is easy to understand."
          description2="this course taught me the very very basic of web development and how HTML, CSS and JS work together."
          description3="the course also goes the extra mile and teaches you how to use Python and Git, with extra knowledge of how REST APIs work. Completed this course in August 2021."
          link="https://www.udemy.com/course/thecompletewebdeveloper/"
        >
          <Card
            image="https://img-c.udemycdn.com/course/480x270/19332_6b49_15.jpg"
            title="The Complete 2020 Fullstack Web Developer Course"
            body="a course about the fundamentals of web development, and how to build a fullstack web app."
          />
        </Modal>
        <!--  -->
        <Modal
          image="https://img-c.udemycdn.com/course/480x270/1595266_8fe6.jpg"
          modalID={13}
          title="Principles + Practices for Great UI Design course"
          tech="none, purely theory"
          description="a great course by Joe Natoli, an experienced UI and UX designer for 24 years."
          description2="i took this course as whenever i was presented the task of designing a website, i would always struggle to come up with a design that i was happy with."
          description3=""
          link="https://www.udemy.com/course/design-rules/"
        >
          <Card
            image="https://img-c.udemycdn.com/course/480x270/1595266_8fe6.jpg"
            title="Principles + Practices for Great UI Design course"
            body="probably the best course for beginners in UI/UX design in my opinion."
          />
        </Modal>
        <!--  -->
      </div>
      <div class="flex flex-row justify-center mt-16 italic">
        Still learning more!
      </div>
    </div>
    <!-- contact section -->
    <div class="mt-16 mb-24">
      <h2 class="text-4xl">Contact me;</h2>
      <div class="italic text-xl text-gray-500">don't be shy!</div>
      <div class="mt-8 lg:pl-10 pl-8 flex lg:justify-evenly justify-between">
        <a
          href="mailto:milopadma@yahoo.com"
          class="text-2xl text-blue-600 hover:text-blue-800">Email</a
        >
        <a
          href="https://github.com/milopadma
          "
          class="text-2xl text-blue-600 hover:text-blue-800">Github</a
        >
        <a
          href="https://www.linkedin.com/in/milopadma-mylo787
          "
          class="text-2xl text-blue-600 hover:text-blue-800">LinkedIn</a
        >
      </div>
    </div>
  </main>
  <!-- <Footer></Footer> -->
</Layout>
